img {
	object-fit: center;
        max-width: 70%;
        height: auto;
}

.header-image {	
	background-image: url("https://raw.githubusercontent.com/AlvaroERR/Ebay-Description/main/CPM%20banner.png");
}
