img {
	object-fit: center;
	max-width: 624px;
	max-height: 468px;
}

.header-image {	
	background-image: url("https://img.favpng.com/10/8/21/page-header-web-banner-png-favpng-0h7fmL7h0bet0kNGC3FFkzS8T.jpg");
}
