img {
	object-fit: center;
        width: 70%;
        height: auto;
}

.header-image {	
	background-image: url("https://img.favpng.com/10/8/21/page-header-web-banner-png-favpng-0h7fmL7h0bet0kNGC3FFkzS8T.jpg");
}
